@model IgrejaOnlineWesleyana.Models.Membro

@{
    ViewBag.Title = "Apagar";
}

<h2>Apagar</h2>

<h3 class="text-danger">Tem certeza de que deseja apagar estes dados?</h3>
<div>
    <h4>Membro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cidade.Cidade1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade.Cidade1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade1.Cidade1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade1.Cidade1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Congregacao.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Congregacao.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distrito.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distrito.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.UF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.UF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrauInstrucao.TipoGrau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrauInstrucao.TipoGrau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Igreja.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Igreja.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regiao.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regiao.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrgaoExpedidor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrgaoExpedidor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
