@model IgrejaOnlineWesleyana.Models.Membro

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes de @Html.DisplayFor(model => model.Nome)</h2>

<div>
    <h4>Membro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cidade.Cidade1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade.Cidade1)
        </dd>

        <dt>
            @Html.DisplayName("Cidade")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade1.Cidade1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Congregacao.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Congregacao.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distrito.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distrito.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.UF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.UF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrauInstrucao.TipoGrau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrauInstrucao.TipoGrau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Igreja.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Igreja.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regiao.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regiao.Nome)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

    <dd>
        @Html.DisplayFor(model => model.DataNascimento)
    </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrgaoExpedidor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrgaoExpedidor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

    <dd>
        @Html.DisplayFor(model => model.CPF)
    </dd>
        @{
            if (Model.Conjuge.Count > 0)
            {
                @*<dt>
                    @Html.DisplayName("Conjuge")
                </dt>*@
                foreach (var conjuge in Model.Conjuge.ToList())
                {
                    <dt>
                        @Html.DisplayName("Nome do conjuge")
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem=>conjuge.NomeConjuge)
                    </dd>
                    <dt>
                        @Html.DisplayName("Data de nascimento do conjuge")
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => conjuge.DataNascimentoConjuge)

                    </dd>
                    <dt>
                        @Html.DisplayName("Email do conjuge")
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => conjuge.EmailConjuge)
                    </dd>
                    <dt>
                        @Html.DisplayName("Telefone do conjuge")
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => conjuge.TelefoneConjuge)
                    </dd>
                }
            }
        }
        @{
            if (Model.Filhos.Count > 0)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Filhos)
                </dt>
                <dd>
                    <table class="table table-condensed table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Filhos.ToList()[0].Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Filhos.ToList()[0].DataNascimentoFilho)
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Filhos.ToList())
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataNascimentoFilho)
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </dd>
            }
        }
        @*<dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "AlterarFicha", new { id = Model.ID }) |
    @Html.ActionLink("Retornar à lista", "Index")
</p>
